html
{
  background-color: #000000;
}


body
{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}



/*hero Page */
section
{
  min-height: 100vh;
}

header{
  position: relative;
  min-height: 100vh;
  background-color: #000000;
  background-image: url('image/image-min.jpg');
  background-position: center;
  background-repeat: no repeat;
  background-size: cover;
  background-attachment: fixed;
  vertical-align: center;
  text-align: center;
}

header>div>h1{
  color:#ffffff;
  font-family: 'Poppins', sans-serif;
  display: inline-block;
}
nav{
  padding:4%;
}
nav>a{
  margin-bottom: 10px;
}
.nav-link{
  color:#999999;
  font-family: 'Poppins', sans-serif;
  font-size:1.5em;
  transition: all ease 2s;
  display: block;

}
.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition:  .3s;
}

.nav-link:hover{
  color:#ffff;
  font-weight: bolder;
}

.nav-link:hover::after {
    width: 100%;
    /*transition: width .3s;*/
}

header>div>button 
{
  display: block;
  color: #ffffff;
  background: #060719;
  padding: 12px 17px;
  font-family: 'Work Sans', sans-serif;
  border: 3px solid #ffffff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #31302B;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}

button:hover {
  box-shadow: inset 200px 0 0 0 #ffffff;
  color: #060719;
}

.aboutHeading{
  font-size:96px;
  line-height:105px;
}


/*Second Section*/
.explanation{
  color: #000000;
  line-height: 48px;
  font-size: 32px;
  font-weight:300;
}
.smallExplanation{
  color: #999999;
  font-size: 24px;
  line-height: 43.3px;
}
.white-button{
  outline: hidden;
  display: block;
  color: #000000;
  background: #ffffff;
  padding: 12px 17px;
  font-family: 'Work Sans', sans-serif;
  border: 3px solid #000000;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #31302B;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;
}
.white-button:hover {
  box-shadow: inset 205px 0 0 0 #000000;
  color: #ffffff;
}


/*Project Section*/
section{
  position: relative;
}
section#project{
  background-image:url('image/Skewed.svg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top:20%;
  padding-bottom:20%;
}
.Project-heading{
  font-size:5rem;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}
.project-button{
  outline: hidden;
  display: block;
  color: #ffffff;
  background: #757575;
  padding: 16px 40px;
  font-family: 'Work Sans', sans-serif;
  border: 3px solid #ffffff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #ffffff;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;
}
.project-button:hover {
  box-shadow: inset 250px 0 0 0 #ffffff;
  color: #000000;
}
.project-div{
  margin-top:5%;
  margin-bottom:5%;
}

/* Contact Section*/
section#contact{
  min-height: 100vh;
  background-color: #000000;
  font-family: 'Poppins', sans-serif;
  color:#ffffff;
  margin-top: -1%;
  margin-bottom: 0%;
}

.black-button{
  outline: hidden;
  display: block;
  color: #ffffff;
  background: #000000;
  padding: 12px 17px;
  font-family: 'Work Sans', sans-serif;
  border: 3px solid #ffffff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #31302B;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;
}
.black-button:hover {
  box-shadow: inset 205px 0 0 0 #ffffff;
  color: #000000;
}
.contact-Explanation{
  font-size:32px;
  font-family: 'Work Sans', sans-serif;
}
.small-Explanation{
  font-family: 'Work Sans', sans-serif;
  color:#999999;
  font-size:24px;
}
.bigger{
  width:200px;
  height:50px;
  margin-right:4%;
  margin-bottom: 10%;
}


/*Media Queries */
@media (max-width: 500px){
  header{
    min-height: 70vh;
    background-color: #000000;
    background-image: url('image/image-min.jpg');
    background-position: center center;
    background-repeat: no repeat;
    background-size: cover;
    background-attachment: scroll;
    vertical-align: center;
    text-align: center;
  }
  header>div>h1{
    padding-top:30%;
    color:#ffff;
    font-size: 1.5em;
  }

  .nav-link{
    color:#999999;
    font-size:1.2em;
    transition: all ease 2s;
    display: inline-block;

  }

  .aboutHeading{
    font-size:36px;
    line-height:50px;
  }

  .explanation{
    font-size: 30px;
  }
  .shortExplanation{
    font-size: 20px;
  }
  .Project-heading{
    font-size:4rem;
  }
  
.project-div{
  margin-top:15%;
  margin-bottom:5%;
}
section#contact{
  margin-top: -3.5%;
}
.bigger{
  width:300px;
  margin-bottom: 5%;
}
}

/*For Ipads */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  header{
    min-height:80vh;
  }
  section#contact{
    min-height: 90vh;
  }
  .bigger{
    
  width:300px;
  margin-bottom: 5%;
  margin-right:50%;
  }
}
  