html{
  background-color: white;
}
body{
  padding: 0;
  margin: 0;
}

/*hero Page */
header{
  min-height: 100vh;
  background-color: #000000;
  color:#fff;
}
nav{
  padding:4%;
}
nav>a{
  margin-bottom: 10px;
}
.nav-link{
  color:#999999;
  font-size:1.5em;
  transition: all ease 2s;
  display: inline-block;

}
.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition:  .3s;
}
.nav-link:hover{
  color:#ffff;
  font-weight: bolder;
}
.nav-link:hover::after {
    width: 100%;
    /*transition: width .3s;*/
}
header>h1{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
